* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
}
body .cargando {
  position: relative;
  left: 200px;
}
body header {
  z-index: 100;
  width: 100%;
  background-color: transparent;
  position: fixed;
}
body header .boton-iniciar {
  letter-spacing: 1px;
  font-weight: 900;
  border: 2px solid #039be5;
  color: #039be5;
  outline: none;
}
body header .boton-iniciar:hover {
  background-color: #039be5;
  color: #fdfdfd;
}
body header .contenedor--carrito {
  margin-top: 10px;
}
body header .contenedor--carrito .carrito {
  cursor: pointer;
  width: 60px;
}
body header .contenedor--carrito .contador {
  pointer-events: none;
  font-weight: 900;
  font-size: 20px;
  color: rgba(203, 253, 255, 0.8);
  position: relative;
  bottom: 38px;
}
body main {
  width: 101%;
}
body main .buscador {
  background-image: url("../img/libro.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 656px;
}
body main .buscador img {
  position: absolute;
  top: 50px;
  left: 0;
  filter: drop-shadow(15px 15px 8px #000);
}
body main .buscador h2 {
  position: relative;
  top: 8%;
  left: 20%;
  z-index: 8;
  padding-top: 100px;
  color: #fff;
}
body main .buscador .contenedor-buscador {
  position: relative;
  top: 7%;
  left: 20%;
  z-index: 10;
  padding-top: 20px;
  width: 50%;
}
body main .buscador .contenedor-buscador input {
  border: 3px solid #ffffff;
  color: #000;
  height: 60px;
  border-radius: 20px;
  width: 100%;
  padding: 0 20px;
}
body main .buscador .contenedor-buscador input:focus {
  outline: none;
  border: 3px solid #727272;
}
body main .buscador ul {
  position: relative;
  top: 7%;
  left: 20%;
  z-index: 10;
  width: 50%;
  background-color: #fff;
  border-radius: 20px;
  display: none;
}
body main .buscador ul li {
  cursor: pointer;
  position: relative;
  right: 15px;
  padding: 5px 0;
  width: 100%;
  list-style-type: none;
  font-size: 17px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 900;
  color: #000;
}
body main .buscador ul li:hover {
  background-color: #dbdbdb;
}
body main .buscador .flecha {
  width: 80px;
  position: absolute;
  top: 80%;
  left: 18%;
  transition: all 1s;
}
body main .buscador .ocultar_buscador {
  width: 100%;
  height: 656px;
  position: absolute;
  top: 0;
  left: 0;
}
body main .contenedor--libro {
  width: 100%;
  padding-left: 50px;
}
body main .contenedor--libro .tiutlo-secundario {
  margin-top: 100px;
  filter: drop-shadow(8px 8px 4px #000);
}
body main .contenedor--libro .contenedor-libros-generos {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body main .contenedor--libro .contenedor-libros-generos .generos--libros {
  width: 300px;
}
body main .contenedor--libro .contenedor-libros-generos .generos--libros img {
  position: relative;
  top: 60px;
  right: 25px;
  width: 280px;
}
body main .contenedor--libro .contenedor-libros-generos .generos--libros ul {
  position: relative;
  right: 50px;
  top: 100px;
  list-style-type: none;
}
body main .contenedor--libro .contenedor-libros-generos .generos--libros ul .flechas {
  color: #039be5;
}
body main .contenedor--libro .contenedor-libros-generos .generos--libros ul li {
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 30px;
  color: #a0a0a0;
  letter-spacing: 2px;
  font-weight: 900;
}
body main .contenedor--libro .contenedor-libros-generos .generos--libros ul li:hover {
  color: #fff;
}
body main .contenedor--libro .contenedor-libros-generos .libros {
  margin: 50px 0;
  width: 250px;
  height: 350px;
  cursor: pointer;
  transition: 0.5s;
}
body main .contenedor--libro .contenedor-libros-generos .libros img {
  width: 100%;
  height: 100%;
}
body main .contenedor--libro .contenedor-libros-generos .libros h3 {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 1px;
  margin-top: 10px;
  color: #fff;
}
body main .contenedor--libro .contenedor-libros-generos .libros:hover {
  transform: scale(1.05);
}
body main .contenedor-modal {
  background-color: rgba(10, 10, 10, 0.7411764706);
  z-index: 200;
  opacity: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  pointer-events: none;
  transition: opacity 0.6s;
}
body main .contenedor-modal .modal--div {
  position: relative;
  border: 1px solid #fff;
  width: 90%;
  max-width: 700px;
  max-height: 87%;
  background-color: #000;
  margin: auto;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}
body main .contenedor-modal .modal--div .cerrarModal {
  z-index: 100;
  width: 5%;
  height: 40px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}
body main .contenedor-modal .modal--div .cont-img-precio img {
  width: 300px;
  height: 400px;
}
body main .contenedor-modal .modal--div .cont-img-precio .precio {
  align-items: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 900;
  position: relative;
}
body main .contenedor-modal .modal--div .cont--img--info {
  position: relative;
  bottom: 30px;
}
body main .contenedor-modal .modal--div .cont--img--info h2 {
  margin-bottom: 40px;
  color: #039be5;
  font-weight: 900;
  letter-spacing: 2px;
}
body main .contenedor-modal .modal--div .cont--img--info p {
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
}
body main .contenedor-modal .modal--div .cont--img--info p span {
  margin-right: 10px;
  border-bottom: none;
  font-size: 18px;
  border-bottom: #fff 1px solid;
  font-weight: 900;
}
body main .contenedor-modal .modal--div .cont--img--info button {
  padding-top: 10px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
  background-color: #039be5;
  border: #039be5 2px solid;
  color: #fff;
  border-radius: 50px;
  transition: transform 0.3s ease;
}
body main .contenedor-modal .modal--div .cont--img--info button::after, body main .contenedor-modal .modal--div .cont--img--info button::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #039be5;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}
body main .contenedor-modal .modal--div .cont--img--info button:hover {
  transform: translate(-10px, -10px);
}
body main .contenedor-modal .modal--div .cont--img--info button:hover::after {
  transform: translate(5px, 5px);
}
body main .contenedor-modal .modal--div .cont--img--info button:hover::before {
  transform: translate(10px, 10px);
}
body main .contenedor-modal-carrito {
  background-color: rgba(10, 10, 10, 0.7411764706);
  z-index: 400;
  opacity: 0;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  pointer-events: none;
  transition: opacity 0.6s;
}
body main .contenedor-modal-carrito .modal-div-carrito {
  border: 1px solid #fff;
  position: relative;
  width: 90%;
  max-width: 1000px;
  max-height: 87%;
  background-color: #000;
  margin: auto;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}
body main .contenedor-modal-carrito .modal-div-carrito .cerrarModal-carrito {
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}
body main .contenedor-modal-carrito .modal-div-carrito .titulo-carrito {
  color: #039be5;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: 3px;
  border-bottom: #039be5 2px solid;
  position: relative;
  bottom: 30px;
}
body main .contenedor-modal-carrito .modal-div-carrito .modal-info-carrito {
  height: 300px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}
body main .contenedor-modal-carrito .modal-div-carrito .modal-info-carrito::-webkit-scrollbar {
  width: 8px;
}
body main .contenedor-modal-carrito .modal-div-carrito .modal-info-carrito::-webkit-scrollbar-thumb {
  background-color: #039be5;
  border-radius: 4px;
}
body main .contenedor-modal-carrito .modal-div-carrito .modal-info-carrito .div-info-carrito {
  margin-left: 30px;
}
body main .contenedor-modal-carrito .modal-div-carrito .modal-info-carrito .div-info-carrito .imagen-modal {
  width: 80px;
  height: 100px;
}
body main .contenedor-modal-carrito .modal-div-carrito .modal-info-carrito .div-info-carrito p {
  font-weight: 900;
  color: #fff;
  font-size: 30px;
}
body main .contenedor-modal-carrito .modal-div-carrito .modal-info-carrito .div-info-carrito img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 10px;
}
body main .contenedor-modal-carrito .modal-div-carrito .botones .boton-elimiarTodo {
  color: #ff0000;
  border-color: #ff0000;
  position: relative;
  right: 80px;
  top: 30px;
  padding: 10px 25px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
}
body main .contenedor-modal-carrito .modal-div-carrito .botones .boton-elimiarTodo:hover {
  color: #fff;
  background-color: #ff0000;
}
body main .contenedor-modal-carrito .modal-div-carrito .botones .total {
  font-weight: 900;
  position: relative;
  top: 35px;
  left: 70px;
  color: #fff;
  font-size: 25px;
}
body main .contenedor-modal-carrito .modal-div-carrito .botones .boton-comprar {
  position: relative;
  left: 110px;
  top: 20px;
  padding: 10px 30px;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 900;
  background-color: #039be5;
  border: #039be5 3px solid;
  color: #fff;
  border-radius: 50px;
}
body main .contenedor-modal-carrito .modal-div-carrito .botones .boton-comprar:hover {
  background-color: #fff;
  color: #039be5;
}
body .footer {
  position: relative;
  top: 50px;
}

@media (min-width: 300px) and (max-width: 1155px) {
  body main .buscador img {
    width: 450px;
  }
  body main .buscador .flecha {
    width: 70px;
    top: 80%;
  }
}
@media (min-width: 300px) and (max-width: 1000px) {
  body main .buscador img {
    width: 375px;
  }
  body main .buscador .flecha {
    width: 70px;
    top: 70%;
  }
}
@media (min-width: 300px) and (max-width: 830px) {
  body main .buscador img {
    width: 350px;
  }
  body main .buscador h2 {
    font-size: 25px;
  }
  body main .buscador .contenedor-buscador {
    width: 40%;
  }
  body main .buscador .contenedor-buscador input {
    height: 55px;
  }
  body main .buscador ul {
    width: 40%;
  }
  body main .buscador .flecha {
    width: 65px;
    top: 70%;
  }
  body main .contenedor--libro {
    padding-left: 0;
  }
  body main .contenedor--libro h2 {
    font-size: 65px;
  }
  body main .contenedor--libro .contenedor-libros-generos {
    flex-direction: column;
  }
  body main .contenedor--libro .contenedor-libros-generos .generos--libros {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
  }
  body main .contenedor--libro .contenedor-libros-generos .generos--libros h3 {
    font-size: 35px;
  }
  body main .contenedor--libro .contenedor-libros-generos .generos--libros ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
  }
  body main .contenedor--libro .contenedor-libros-generos .generos--libros ul .div-genero {
    margin: 15px;
  }
  body main .contenedor-modal .modal--div .cont--img--info p {
    font-size: 14px;
  }
  body main .contenedor-modal .modal--div .cont--img--info p span {
    font-size: 16px;
  }
  body main .contenedor-modal .modal--div .cont--img--info button {
    font-size: 13px;
  }
}
@media (min-width: 300px) and (max-width: 700px) {
  body main {
    width: 102%;
  }
  body main .buscador img {
    width: 300px;
    top: 15%;
  }
  body main .buscador h2 {
    left: 24%;
  }
  body main .buscador .contenedor-buscador {
    left: 24%;
  }
  body main .buscador ul {
    left: 24%;
  }
  body main .buscador .flecha {
    width: 55px;
  }
}
@media (min-width: 300px) and (max-width: 575px) {
  body main {
    width: 150%;
  }
  body main .buscador img {
    width: 280px;
    top: 40%;
  }
  body main .buscador h2 {
    left: 0;
    top: 2%;
  }
  body main .buscador .contenedor-buscador {
    width: 60%;
    left: 0;
    top: 0;
  }
  body main .buscador ul {
    width: 60%;
    left: 0;
    top: 0;
  }
  body main .buscador .flecha {
    width: 55px;
    top: 82%;
    left: 25%;
  }
  body main .contenedor--libro .tiutlo-secundario {
    width: 400px;
  }
}
@media (min-width: 300px) and (max-width: 400px) {
  body main {
    width: 170%;
  }
  body main .contenedor--libro .tiutlo-secundario {
    width: 380px;
  }
}
.inicioSesion {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../img/biblioteca2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.inicioSesion main {
  padding: 20px;
  margin: auto;
  margin-top: 100px;
}
.inicioSesion main a {
  text-decoration: none;
}
.inicioSesion main a .volver {
  text-decoration: none;
  position: relative;
  bottom: 20px;
  color: #039be5;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: #fff;
  padding: 5px;
  border: #fff 2px solid;
  border-radius: 20px;
}
.inicioSesion main .contenedor-todo {
  width: 100%;
  max-width: 800px;
  margin: auto;
  position: relative;
}
.inicioSesion main .contenedor-todo .caja-trasera {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 128, 255, 0.5);
}
.inicioSesion main .contenedor-todo .caja-trasera div {
  margin: 100px 40px;
  color: #fff;
  transition: all 500ms;
}
.inicioSesion main .contenedor-todo .caja-trasera div h3 {
  font-weight: 400;
  font-size: 26px;
}
.inicioSesion main .contenedor-todo .caja-trasera div p,
.inicioSesion main .contenedor-todo .caja-trasera div button {
  margin-top: 30px;
}
.inicioSesion main .contenedor-todo .caja-trasera button {
  padding: 10px 40px;
  border: 2px solid #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 6000;
  cursor: pointer;
  color: #fff;
  outline: none;
  transition: all 300ms;
}
.inicioSesion main .contenedor-todo .caja-trasera button:hover {
  background: #fff;
  color: #46A2FD;
}
.inicioSesion main .contenedor-todo .contenedor-login-register {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 380px;
  position: relative;
  top: -197px;
  left: 10px;
  transition: left 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.inicioSesion main .contenedor-todo .contenedor-login-register form {
  width: 100%;
  padding: 80px 20px;
  background: #fff;
  position: absolute;
  border-radius: 20px;
}
.inicioSesion main .contenedor-todo .contenedor-login-register form h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
  color: #46A2FD;
}
.inicioSesion main .contenedor-todo .contenedor-login-register form input {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  font-size: 16px;
  outline: none;
  border-radius: 20px;
}
.inicioSesion main .contenedor-todo .contenedor-login-register form button {
  padding: 10px 40px;
  margin-top: 40px;
  border: none;
  font-size: 14px;
  background-color: #46A2FD;
  color: #fff;
  cursor: pointer;
  outline: none;
}
.inicioSesion main .contenedor-todo .contenedor-login-register .form-login {
  opacity: 1;
}
.inicioSesion main .contenedor-todo .contenedor-login-register .form-register {
  opacity: 0;
}

@media screen and (max-width: 850px) {
  .inicioSesion main {
    margin-top: 50px;
  }
  .inicioSesion main .contenedor-todo .caja-trasera {
    max-width: 350px;
    height: 300px;
    flex-direction: column;
    margin: auto;
  }
  .inicioSesion main .contenedor-todo .caja-trasera div {
    margin: 0px;
    position: absolute;
  }
  .inicioSesion main .contenedor-todo .contenedor-login-register {
    top: -10px;
    left: -5px;
    margin: auto;
  }
  .inicioSesion main .contenedor-todo .contenedor-login-register form {
    position: absolute;
    top: 150px;
  }
}

/*# sourceMappingURL=styles.css.map */
