$colorPrincipal: #039be5;
$fontWeight: 900;
$cienPorciento: 100%;

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);

    .cargando {
        position: relative;
        left: 200px;
    }

    header {
        z-index: 100;
        width: $cienPorciento;
        background-color: transparent;
        // background-color: rgba(0, 0, 0, 0.8);
        position: fixed;

        .boton-iniciar {
            // position: absolute;
            // top: 20px;
            // right: 0;
            letter-spacing: 1px;
            font-weight: $fontWeight;
            border: 2px solid $colorPrincipal;
            color: $colorPrincipal;
            outline: none;

            &:hover {
                background-color: $colorPrincipal;
                color: #fdfdfd;
            }
        }

        .contenedor--carrito {
            margin-top: 10px;

            .carrito {
                cursor: pointer;
                width: 60px;
            }

            .contador {
                pointer-events: none;
                font-weight: 900;
                font-size: 20px;
                color: rgb(203, 253, 255, 0.8);
                position: relative;
                bottom: 38px;
            }
        }
    }

    main {
        .buscador {
            background-image: url("../img/libro.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            background-attachment: fixed;
            height: 656px;

            img {
                position: absolute;
                top: 50px;
                left: 0;
                filter: drop-shadow(15px 15px 8px #000);
            }

            h2 {
                position: relative;
                top: 8%;
                left: 20%;
                z-index: 8;
                padding-top: 100px;
                color: #fff;
            }

            .contenedor-buscador {
                position: relative;
                top: 7%;
                left: 20%;
                z-index: 10;
                padding-top: 20px;
                width: 50%;

                input {
                    border: 3px solid #ffffff;
                    color: #000;
                    height: 60px;
                    border-radius: 20px;
                    width: $cienPorciento;
                    padding: 0 20px;

                    &:focus {
                        outline: none;
                        border: 3px solid #727272;
                    }
                }
            }

            ul {
                position: relative;
                top: 7%;
                left: 20%;
                z-index: 10;
                width: 50%;
                background-color: #fff;
                border-radius: 20px;
                display: none;

                li {
                    cursor: pointer;
                    position: relative;
                    right: 15px;
                    padding: 5px 0;
                    width: $cienPorciento;
                    list-style-type: none;
                    font-size: 17px;
                    text-decoration: none;
                    letter-spacing: 2px;
                    font-weight: $fontWeight;
                    color: #000;

                    &:hover {
                        background-color: #dbdbdb;
                    }
                }
            }

            .flecha {
                width: 80px;
                position: absolute;
                top: 80%;
                left: 18%;
                transition: all 1s;
            }

            .ocultar_buscador {
                width: $cienPorciento;
                height: 656px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .contenedor--libro {
            width: $cienPorciento;
            padding-left: 50px;

            .tiutlo-secundario {
                margin-top: 100px;
                filter: drop-shadow(8px 8px 4px #000);
            }

            .contenedor-libros-generos {
                display: flex;
                flex-direction: row;
                width: $cienPorciento;

                .generos--libros {
                    width: 300px;


                    img {
                        position: relative;
                        top: 60px;
                        right: 25px;
                        width: 280px;
                    }

                    ul {
                        position: relative;
                        right: 50px;
                        top: 100px;
                        list-style-type: none;

                        .flechas {
                            color: $colorPrincipal;
                        }


                        li {
                            cursor: pointer;
                            font-size: 20px;
                            margin-bottom: 30px;
                            color: #a0a0a0;
                            letter-spacing: 2px;
                            font-weight: $fontWeight;

                            &:hover {
                                color: #fff;
                            }
                        }

                    }
                }

                .libros {
                    // opacity: 0;
                    margin: 50px 0;
                    width: 250px;
                    height: 350px;
                    cursor: pointer;
                    transition: .5s;


                    img {
                        width: $cienPorciento;
                        height: $cienPorciento;
                    }

                    h3 {
                        font-size: 22px;
                        font-weight: $fontWeight;
                        letter-spacing: 1px;
                        margin-top: 10px;
                        color: #fff;
                    }


                    &:hover {
                        transform: scale(1.05);
                    }
                }

            }
        }

        .contenedor-modal {
            background-color: #0a0a0abd;
            z-index: 200;
            opacity: 0;
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            display: flex;
            pointer-events: none;
            transition: opacity .6s;

            .modal--div {
                position: relative;
                border: 1px solid #fff;
                width: 90%;
                max-width: 700px;
                max-height: 87%;
                background-color: #000;
                margin: auto;
                border-radius: 6px;
                padding: 3em 2.5em;
                display: grid;
                gap: 1em;
                place-items: center;
                grid-auto-columns: $cienPorciento;

                .cerrarModal {
                    z-index: 100;
                    width: 5%;
                    height: 40px;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    right: 0;
                    color: #fff;
                }

                .cont-img-precio {
                    img {
                        width: 300px;
                        height: 400px;
                    }

                    .precio {
                        align-items: center;
                        color: #fff;
                        font-size: 20px;
                        letter-spacing: 2px;
                        font-weight: $fontWeight;
                        position: relative;

                    }
                }

                .cont--img--info {
                    position: relative;
                    bottom: 30px;

                    h2 {
                        margin-bottom: 40px;
                        color: $colorPrincipal;
                        font-weight: $fontWeight;
                        letter-spacing: 2px
                    }

                    p {
                        font-size: 15px;
                        color: #fff;
                        letter-spacing: 1px;

                        span {
                            margin-right: 10px;
                            border-bottom: none;
                            font-size: 18px;
                            border-bottom: #fff 1px solid;
                            font-weight: $fontWeight;
                        }
                    }

                    button {
                        padding-top: 10px;
                        font-size: 16px;
                        letter-spacing: 2px;
                        font-weight: $fontWeight;
                        background-color: $colorPrincipal;
                        border: $colorPrincipal 2px solid;
                        color: #fff;
                        border-radius: 50px;
                        transition: transform .3s ease;

                        &::after,
                        &::before {
                            content: "";
                            position: absolute;
                            opacity: 0.3;
                            background: $colorPrincipal;
                            border-radius: inherit;
                            width: $cienPorciento;
                            height: $cienPorciento;
                            left: 0;
                            bottom: 0;
                            z-index: -1;
                            transition: transform .3s ease;
                        }

                        &:hover {
                            transform: translate(-10px, -10px);
                        }

                        &:hover::after {
                            transform: translate(5px, 5px);
                        }

                        &:hover::before {
                            transform: translate(10px, 10px);
                        }
                    }
                }
            }
        }

        .contenedor-modal-carrito {
            background-color: #0a0a0abd;
            z-index: 400;
            opacity: 0;
            position: fixed;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            display: flex;
            pointer-events: none;
            transition: opacity .6s;

            .modal-div-carrito {
                border: 1px solid #fff;
                position: relative;
                width: 90%;
                max-width: 1000px;
                max-height: 87%;
                background-color: #000;
                margin: auto;
                border-radius: 6px;
                padding: 3em 2.5em;
                display: grid;
                gap: 1em;
                place-items: center;
                grid-auto-columns: 100%;

                .cerrarModal-carrito {
                    cursor: pointer;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    right: 0;
                }

                .titulo-carrito {
                    color: #039be5;
                    font-size: 40px;
                    font-weight: 900;
                    letter-spacing: 3px;
                    border-bottom: #039be5 2px solid;
                    position: relative;
                    bottom: 30px;
                }

                .modal-info-carrito {
                    height: 300px;
                    overflow: auto;
                    scrollbar-width: thin;
                    scrollbar-color: #ccc #fff;

                    &::-webkit-scrollbar {
                        width: 8px;
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #039be5;
                        border-radius: 4px;
                    }

                    .div-info-carrito {
                        margin-left: 30px;

                        .imagen-modal {
                            width: 80px;
                            height: 100px;
                        }

                        p {
                            font-weight: 900;
                            color: #fff;
                            font-size: 30px;
                        }

                        img {
                            cursor: pointer;
                            width: 40px;
                            height: 40px;
                            position: relative;
                            bottom: 10px;
                        }
                    }
                }

                .botones {
                    .boton-elimiarTodo {
                        color: #ff0000;
                        border-color: #ff0000;
                        position: relative;
                        right: 80px;
                        top: 30px;
                        padding: 10px 25px;
                        font-size: 16px;
                        letter-spacing: 2px;
                        font-weight: 900;

                        &:hover {
                            color: #fff;
                            background-color: #ff0000;
                        }
                    }

                    .total {
                        font-weight: 900;
                        position: relative;
                        top: 35px;
                        left: 70px;
                        color: #fff;
                        font-size: 25px;
                    }

                    .boton-comprar {
                        position: relative;
                        left: 110px;
                        top: 20px;
                        padding: 10px 30px;
                        font-size: 16px;
                        letter-spacing: 2px;
                        font-weight: 900;
                        background-color: #039be5;
                        border: #039be5 3px solid;
                        color: #fff;
                        border-radius: 50px;

                        &:hover {
                            background-color: #fff;
                            color: #039be5;
                        }
                    }
                }
            }
        }
    }

    .footer {
        position: relative;
        top: 50px;
    }
}

@media (min-width: 300px) and (max-width: 1155px) {
    body {
        main {
            .buscador {
                img {
                    width: 450px;
                }

                .flecha {
                    width: 70px;
                    top: 80%;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 1000px) {
    body {
        main {
            .buscador {
                img {
                    width: 375px;
                }

                .flecha {
                    width: 70px;
                    top: 70%;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 830px) {
    body {
        main {
            .buscador {

                img {
                    width: 350px;
                }

                h2 {
                    font-size: 25px;
                }

                .contenedor-buscador {
                    width: 40%;

                    input {
                        height: 55px;
                    }
                }

                ul {
                    width: 40%;
                }

                .flecha {
                    width: 65px;
                    top: 70%;
                }
            }


            .contenedor--libro {
                padding-left: 0;

                h2 {
                    font-size: 65px;
                }

                .contenedor-libros-generos {
                    flex-direction: column;

                    .generos--libros {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-left: 50px;

                        h3 {
                            font-size: 35px;
                        }

                        ul {
                            width: 100%;
                            display: flex;
                            align-items: center;
                            flex-wrap: wrap;
                            justify-content: center;
                            margin-bottom: 80px;

                            .div-genero {
                                margin: 15px;
                            }
                        }
                    }
                }
            }

            .contenedor-modal {
                .modal--div {
                    .cont--img--info {
                        p {
                            font-size: 14px;
                            span {
                                font-size: 16px;
                            }
                        }

                        button {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    body {
        main {
            width: 102%;

            .buscador {

                img {
                    width: 300px;
                    top: 15%;
                }

                h2 {
                    left: 24%;
                }

                .contenedor-buscador {
                    left: 24%;
                }

                ul {
                    left: 24%;
                }

                .flecha {
                    width: 55px;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 575px) {
    body {
        main {
            width: 105%;

            .buscador {

                img {
                    width: 280px;
                    top: 40%;
                }

                h2 {
                    left: 0;
                    top: 2%;
                }

                .contenedor-buscador {
                    width: 60%;
                    left: 0;
                    top: 0;
                }

                ul {
                    width: 60%;
                    left: 0;
                    top: 0;
                }

                .flecha {
                    width: 55px;
                    top: 82%;
                    left: 25%;
                }
            }

            .contenedor--libro {

                .tiutlo-secundario {
                    width: 400px;
                }
            }
        }
    }
}

@media (min-width: 300px) and (max-width: 400px) {
    body {
        main {
            width: 105%;

            .contenedor--libro {

                .tiutlo-secundario {
                    width: 300px;
                }
            }
        }
    }
}





.inicioSesion {
    background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url("../img/biblioteca2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    main {
        padding: 20px;
        margin: auto;
        margin-top: 100px;

        a {
            text-decoration: none;

            .volver {
                text-decoration: none;
                position: relative;
                bottom: 20px;
                color: #039be5;
                font-size: 20px;
                font-weight: 600;
                letter-spacing: 2px;
                background-color: #fff;
                padding: 5px;
                border: #fff 2px solid;
                border-radius: 20px;
            }
        }

        .contenedor-todo {
            width: 100%;
            max-width: 800px;
            margin: auto;
            position: relative;

            .caja-trasera {
                width: 100%;
                padding: 10px 20px;
                display: flex;
                justify-content: center;
                backdrop-filter: blur(10px);
                background-color: rgba(0, 128, 255, 0.5);

                div {
                    margin: 100px 40px;
                    color: #fff;
                    transition: all 500ms;

                    h3 {
                        font-weight: 400;
                        font-size: 26px;
                    }

                    p,
                    button {
                        margin-top: 30px;
                    }
                }

                button {
                    padding: 10px 40px;
                    border: 2px solid #fff;
                    background: transparent;
                    font-size: 14px;
                    font-weight: 6000;
                    cursor: pointer;
                    color: #fff;
                    outline: none;
                    transition: all 300ms;

                    &:hover {
                        background: #fff;
                        color: #46A2FD;
                    }
                }
            }

            .contenedor-login-register {
                display: flex;
                align-items: center;
                width: 100%;
                max-width: 380px;
                position: relative;
                top: -197px;
                left: 10px;

                transition: left .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

                form {
                    width: 100%;
                    padding: 80px 20px;
                    background: #fff;
                    position: absolute;
                    border-radius: 20px;

                    h2 {
                        font-size: 30px;
                        text-align: center;
                        margin-bottom: 20px;
                        color: #46A2FD;
                    }

                    input {
                        width: 100%;
                        margin-top: 20px;
                        padding: 10px;
                        border: none;
                        background-color: #f2f2f2;
                        font-size: 16px;
                        outline: none;
                        border-radius: 20px;
                    }

                    button {
                        padding: 10px 40px;
                        margin-top: 40px;
                        border: none;
                        font-size: 14px;
                        background-color: #46A2FD;
                        color: #fff;
                        cursor: pointer;
                        outline: none;
                    }
                }

                .form-login {
                    opacity: 1;
                }

                .form-register {
                    opacity: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 850px) {
    .inicioSesion {
        main {
            margin-top: 50px;

            .contenedor-todo {
                .caja-trasera {
                    max-width: 350px;
                    height: 300px;
                    flex-direction: column;
                    margin: auto;

                    div {
                        margin: 0px;
                        position: absolute;
                    }
                }

                .contenedor-login-register {
                    top: -10px;
                    left: -5px;
                    margin: auto;

                    form {
                        position: absolute;
                        top: 150px;
                    }
                }
            }
        }
    }
}